body {
    font-family: Arial, sans-serif;
    background-color: #7B3FA0;
    text-align: center;
}

.branch-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 100%;
    margin: 20px auto;
    cursor: pointer;
    transition: transform 0.3s;

}

.branch-card:hover {
    transform: scale(1.05);
}

.branch-card h3 {
    margin: 0;
    color: #333;
}

h2 {
    color: #7a0606;
}

.branch-card p {
    margin: 5px 0;
    font-size: 16px;
}

.location-icon {
    color: red;
    font-size: 24px;
    margin-top: 10px;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    overflow-y: auto;
    /* Added overflow-y property */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #fff;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
    text-align: left;
    overflow-y: auto;
    /* Added overflow-y property */
    max-height: calc(90% - 40px);
    /* Adjusted max-height for content area */
}

.close-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    color: red;
    background: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    transition: 0.3s;
}

.close-icon:hover {
    background: red;
    color: white;
}

.send-btn {
    background: rgb(6, 172, 28);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}


iframe {
    width: 98%;
    height: 400px;
    border: none;
}